DATABASE_URL=mysql://root:{DB_PASSWORD}@db:3306/{DB_NAME}
JWT_SECRET=
JWT_EXPIRES_IN={x}d
NEXTAUTH_URL=https://{ip}/tms
SEED_DB=false
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
UPLOAD_DIR=/app/public/uploads

